# Gradle files
.gradle/
build/
*/build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Android Studio files
local.properties
.externalNativeBuild
.cxx
captures/
.navigation/

# Mac files
.DS_Store

# Logs
*.log

# Keystore files (Sangat penting jangan sampai ter-upload)
*.jks
*.keystore
*.p12

# Google Services
google-services.json

# Bundle/APK outputs
*.apk
*.aab
